/.git
/.github
/.claude
/.cursor
/.vscode
/.idea
/.vs
/.history
/.direnv
/.injext
/node_modules
/dist
/test
/test-fixture
.dockerignore
.env*
.envrc
.npmrc
*.cer
*.crt
*.key
*.pem
*.p12
*.pfx
*.jks
*.db
*.sqlite
*.sqlite3
*.dump
Dockerfile
*.log
*.tar.gz
